.Main {
  border-style: solid;
  border-width: 2px;
  margin-left: 30%;
  margin-top: 12%;
  width: 40%;
}

.Main > * {
  margin-top: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}
